# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

# Build outputs
publish/

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Misc
*.swp
*.bak
*.tmp
*.orig
nul
sync.ffs_db

# Encoded files
b64.txt
b64out.txt
Sentinel_b64.txt

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
